@model List<Contatos>
@{
    ViewData["Title"] = "Listagem de Contatos";
}
<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Create">Adicionar Contato</a>
    </div>
    <br/>
    <h1 class="display-4">Listagem de Contatos</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Celular</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @* <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(Contatos contato in Model)
                {

                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Endereco</td>
                        <td>@contato.Celular</td>
                        <td>@contato.Email</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-warning" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="DeleteConfirmad">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody> *@
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark Polo</td>
                <td>Rua ceu azul, 18, Salvador-BA</td>
                <td>(71) 4002-8922</td>
                <td>email@gmail.com</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="Edit">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="Delete">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob Scoot</td>
                <td>Rua ceu azul, 18, Salvador-BA</td>
                <td>(71) 4002-8922</td>
                <td>email@gmail.com</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="Edit">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="Delete">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry Kane</td>
                <td>Rua ceu azul, 18, Salvador-BA</td>
                <td>(71) 4002-8922</td>
                <td>email@gmail.com</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="Edit">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="Delete">Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
